.projects {
  width: 100%;
  min-height: calc(100vh - 74px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.projects .projectTitle {
  text-align: center;
  color: #3e497a;
  font-size: 60px;
  font-weight: bolder;
}

.projectList {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.project-title {
  color: var(--text-color);
  transition: 0.3s;
}

.is-black .project-title {
  color: var(--invert-text-color);
}
/* BUTTON STYLING */
.toggle-btn {
  position: relative;
  display: flex;
  width: 300px; /* change the width */
  height: 35px;
  justify-content: center;
  margin-top: 10px;
}

.toggle-btn input {
  display: none;
}

.slider {
  /* position: absolute; */

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b3137;
  border-radius: 46px;
  transition: all 0.3s ease;
  width: 80px; /* add this line */
  height: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px; /* increase the size of the circle */
  width: 20px; /* increase the size of the circle */
  translate: 5px 5px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s ease;
}

input:checked + .slider {
  background-color: #77b3fc;
}

input:checked + .slider:before {
  transform: translateX(51px); /* increase the distance the circle moves */
}

input:focus + .slider {
  box-shadow: 0 0 1px #77b3fc;
}

.slider.round {
  border-radius: 46px; /* increase the border-radius */
}

.slider.round:before {
  border-radius: 50%;
}

/* MENU ITEM STYLING */

.projectItem {
  border-radius: 15px;
  width: 325px;
  height: 350px;
  margin: 40px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: 0.5s ease;
}
.projects-header {
  color: var(--text-color);
  transition: 0.3s;
}
.is-black .projects-header {
  color: var(--invert-text-color);
}
.projectItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);

  cursor: pointer;
  transform: scale(1.05);
}

.projectItem .bgImage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectItem h1 {
  font-size: 25px;
}

.first-word {
  color: var(--primary-color);
  font-weight: bolder;
  transition: 0.3s;
}
.is-black .first-word {
  color: var(--invert-primary-color);
}
.project-description {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #676767;
  transition: 0.3s;
}
.description-header {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 7px;
}
.is-black .project-description {
  color: #c4c4c4;
}
.skills-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.skills-list li {
  font-size: 14.5px;
}

@media only screen and (max-width: 1300px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 775px) {
  .projectList {
    grid-template-columns: 1fr;
  }
}

.slide-from-left {
  animation: slide-from-left 0.5s ease-out;
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
